GONKA_API_KEY=
GONKA_API_URL=https://api.gonkarouter.io/v1

GONKA_MODEL_DEEPSEEK=deepseek-ai/DeepSeek-V4-Flash-0731
GONKA_MODEL_MINIMAX=MiniMaxAI/MiniMax-M2.7
GONKA_MODEL_KIMI=moonshotai/Kimi-K2.6

BASE_RPC_URL=https://mainnet.base.org
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
SUI_CLI_PATH=sui
SUI_PACKAGE_ID=0x352816166f738ad99cbf6d2df198076613d3b280d819d5c9ea8263ef1d76bae6
SUI_REGISTRY_ID=0x1b969374d4b3fd3f07717ad1aae9d951b213498ba08e5c34163ccaea8546ee0d
SUI_GAS_BUDGET=10000000

DATABASE_URL=sqlite:///./data/fortifi.db
